<div class="max-w-md mt-4 mx-auto">
  <h2 class="text-center text-3xl p-3 font-bold">Index / My tasks</h2>
  <div class="block justify-center">
      <ul class="w-100 p-3">
        <% @tasks.each do |task| %>
          <li><%= link_to task.title, task_path(task) %></li>
        <% end %>
      </ul>
     </div>
     <%= link_to new_task_path, class:"bg-gray-800 text-white py-2 px-6 rounded hover:shadow inline-flex items-center" do %>
      <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mr-2" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <rect x="4" y="4" width="16" height="16" rx="2" />
        <line x1="9" y1="12" x2="15" y2="12" />
        <line x1="12" y1="9" x2="12" y2="15" />
      </svg>
      New task
    <% end %>
</div>
